$mainColor:#189DDC;
$mutedColor:#7E8183;

.navbar-brand {
  height: 40px;
  padding: 0px;
  margin-top: 5px;
}
body { padding-top: 70px; }

.sign_in {
  margin-right: 20px;
}
.quack-well {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: lighten($mainColor, 40%);
  .muted {
    color: $mutedColor;
  }
}
